.cart {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th {
      text-align: right;
    }
  }
  input[type="submit"] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #992;
  }
}
